.navbar{
    all: unset;
}
.navDiv{
    width: 100vw;
    background-color: #121c2e;
    position: fixed;
    top: 0;
    z-index: 10;
}
.navItems{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 70rem;
    height: 5rem;
    color: #F1F5F9;

}
.logoImg{
    margin-left: 1.25rem;
    height: 3.75rem;
    width: auto;
    cursor: pointer;
    background: transparent;
}

.rightNav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: transparent;
    margin-right: 1.5rem;
}


.pandicon{
    background-color: transparent;
    cursor: pointer;
}

.trollyIcon{
    background: transparent;
    position: relative;
}

.pandicon2{
    background: transparent;
    cursor: pointer;
    transform: scale(1.25);
}

.pandicon1{
    position: absolute;
    cursor: pointer;
    top: -0.4rem;
    right: -0.5rem;
    background-color: #16a34a;
    color: white;
    font-size: 0.75rem;
    width: 1rem;
    height: 1rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 1s infinite;
    border-radius: 50%; 
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
}